:root {
  --primary: #605DFF;
  --primary-dark: #4a00e0;
  --primary-light: #5DA8FF;
  --secondary: #1D1D1D;
  --social-background: #E9E9E9;
  --social-background-hover: #dddddd;
  --text: #1F2346;
  --white: #FFFFFF;
  --violet: #8e2de2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--violet);
  background: -webkit-linear-gradient(to right, var(--violet),
          var(--primary-dark));
  background: linear-gradient(to right, var(--violet),
          var(--primary-dark));
}

.socials-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.socials-row img {
  width: 24px;
  height: 24px;
}

.socials-row>a {
  padding: 8px;
  border-radius: 99px;
  width: 100%;
  min-height: 48px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text);
  padding: 8px;
  background-color: var(--social-background);
  font-weight: 700;
}

.socials-row>a:hover {
  background-color: var(--social-background-hover);
}

.login-welcome-row {
  margin-bottom: 1rem;
  text-align: center;
}

.welcome-message {
  max-width: 360px;
}

.logo {
  height: 48px;
  margin: 0 auto;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background-color: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: fit-content;
}

.my-form__button {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  line-height: 50px;
  outline: none;
  font-size: 18px;
  letter-spacing: .025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 50px;
  width: 100%;
  border-radius: 99px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.my-form__button:hover {
  background-color: var(--primary-dark);
}

/*? input wrapper */
.input__wrapper {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 0.5rem;
}

.input__field {
  font-size: 1.5rem;
  color: var(--text);
  padding: 6px 0px;
  padding-right: 32px;
  padding-bottom: 8px;
  line-height: 2rem;
  height: 2rem;
  outline: 0px;
  border: 0px;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--secondary);
  background: transparent;
  transition: border-color 0.2s;
}

.input__field::placeholder {
  color: transparent;
}


.input__label {
  user-select: none;
}

.input__field:placeholder-shown~.input__label {
  cursor: text;
  color: var(--text);
  top: 0.8rem;
  font-size: 1.2rem;
}

.input__label,
.input__field:focus~.input__label {
  position: absolute;
  top: -0.8rem;
  display: block;
  font-size: 1.2rem;
  color: var(--text);
  transition: 0.3s;
}

.input__field:focus~.input__label {
  color: var(--primary);
}

.input__field:focus {
  border-bottom: 3px solid var(--primary);
}

.input__field:focus~svg {
  stroke: var(--primary);
}

.input__icon {
  position: absolute;
  right: -14px;
  bottom: -11px;
  width: 36px;
  height: 36px;
  padding: 2px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}

.input__icon:hover {
  border-radius: 50%;
}

/* my form actions */

.my-form__actions {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--secondary);
  gap: 16px;
  margin-top: 8px;
}

.my-form__actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}

.my-form__actions a:hover {
  text-decoration: underline;
}

.my-form__row {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 860px;
    height: 100%;
    border-radius: 16px;
    background-color: var(--primary-color);
    width: 18rem;
    padding: 16px 10px;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #FCFCFD;
    transition: all 0.1s ease-in-out;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.collapsed nav {
  width: 76px;
}

body.collapsed .hide {
  position: absolute;
  display: none;
}

/*? sidebar top */
.sidebar-top {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 64px;
  padding-bottom: 16px;
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 8px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.logo {
  height: 42px;
  overflow: hidden;
  max-width: 100%;
  object-fit: contain;
}

.logo-small {
  height: 42px;
  overflow: hidden;
  max-width: 100%;
  display: none;
  object-fit: contain;
}

.collapsed .logo {
  display: none;
}

.collapsed .logo-small {
  display: block;
}

/*? menu links */
.sidebar-links {
  padding: 8px 0px;
  border-top: 1px solid var(
    --sidebar-gray-background
  );
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  color: var(--primary-color);
}

.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li svg {
  stroke: var(--primary-color);
  transition: none;
  width: 28px;
  height: 28px;
}

.sidebar-links li a {
  padding: 12px 12px;
  margin: 8px 0px;
  color: var(--sidebar-gray-light);
  font-size: 1.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 56px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 34px;
  width: 34px;
}

.sidebar-links .link {
  margin-left: 30px;
}

.sidebar-links .active:hover {
  background-color: var(--primary-color);
  color: var(--background);
}

.sidebar-links .active:hover svg {
  stroke: var(--background);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(
    --primary-color
  );
  color: var(--background);
}

.sidebar-links .active svg {
  stroke: var(--background);
}

.sidebar-links li a:hover {
  background-color: var(--item-hover);
  color: var(--primary-color);
}

.sidebar-links li a:hover svg {
  stroke: var(--primary-color);
}

/*? bottom sidebar */
.sidebar-bottom {
  padding: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: auto;
  border: 1px solid #F0F0F0;
  display: flex;
  text-align: center;
  border-radius: 16px;
  padding-top: 64px;
  margin-bottom: 48px;
}

.sidebar-bottom img {
  max-width: 164px;
  margin: 0 auto;
  width: 100%;
  margin-top: -84px;
}

.sidebar-bottom p {
  margin-top: -32px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

.sidebar-bottom button {
  border-radius: 16px;
  outline: none;
  margin: 0 auto;
  margin-bottom: -28px;
  cursor: pointer;
  max-width: 150px;
  min-height: 42px;
  font-weight: 800;
  border: 1.5px solid var(--sidebar-gray-background);
  padding: 8px 12px;
  background-color: var(--background);
  transition: all 0.2s ease-in-out;
}

.sidebar-bottom button:hover {
  background-color: var(--primary-color);
  color: var(--item-hover);
}

.notification {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--red);
  top: -3px;
  border: 3px solid var(--background);
  right: -3px;
}

/*? Expand button */

body.collapsed .expand-btn {
  justify-content: center;
  margin-top: auto;
}

.expand-btn:hover {
  background-color: var(--item-hover);
}

.expand-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  color: var(--primary-color);
  border-radius: 8px;
  padding: 8px;
}

.expand-btn img {
  transform: rotate(180deg);
  stroke: var(--primary-color);
  width: 38px;
  height: 38px;
}

body.collapsed .expand-btn img {
  transform: rotate(-360deg);
}

/* ?Tooltip */

.tooltip {
  position: relative;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(
    --primary-color
  );
  color: var(--text);
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  left: 75px;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}